/E:/txData/QBCoreFramework_new/resources/[jerico]/fx-computermdt/client/jerico.sublime-workspace
/E:/txData/QBCoreFramework_new/resources/[jerico]/fx-computermdt/client/jerico.sublime-project
/node_modules/
jerico.sublime-project
/.vscode/

